<form *ngIf="videoprojecteurForm" [formGroup]="videoprojecteurForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <button type="submit" [disabled]="videoprojecteurForm.pristine || videoprojecteurForm.status == 'INVALID'">Sauvegarder</button>
  </div>
  <input formControlName="code" placeholder="code"/>
  <input formControlName="coutJour" placeholder="coutJour"/>
  <select formControlName="enPanneOuInutilisable">
    <option value="true">En panne/indisponible</option>
    <option value="false">En état de marche/disponible</option>
  </select>
</form>
