<h3 *ngIf="isLoading"><i>Chargement des salles... </i></h3>
<h3 *ngIf="!isLoading">Liste des salles:</h3>

<ul>
  <li *ngFor="let salle of salles | async">
    <a (click)="select(salle)">{{salle.code}}</a>
  </li>
</ul>

<div *ngIf="selectedSalle">
  <h3>Editer: {{selectedSalle.code}}</h3>
  <app-salle [salle]="selectedSalle" [modePersistence]="update" (dbChanged)="onDbChanged($event)"></app-salle>
</div>

<div *ngIf="!selectedSalle">
  <h3>Créer nouvelle salle:</h3>
  <app-salle [salle]="nouvelleSalle" [modePersistence]="create" (dbChanged)="onDbChanged($event)"></app-salle>
</div>
